:host {
  display: inline-block;
  border: solid 1px;
  border-radius: 6px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.type-container {
  background: #dedede;
  border-radius: 6px;
  display: inline-block;
  padding: 5px;
}
